html {
  font-family: 'Montserrat', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

ol, ul {
  list-style: none;
}


body {
  background-color: #131827;
  margin: 0;
}

header h1 {
  background-color: #131827;
  font-size: 38px;
  line-height: 38px;
  margin: 0;
  padding: 20px;
  color: #eb7f00;
}


header img
{
  float: right; 
  margin: 15px;
}